<%- include('../include/_header.ejs') %>
<div class="container-fluid p-0 min-vh-100 " style="margin-top: 7%;">
    <%-include('../include/navBar.ejs') %>
    <div class="container f-flex align-items-center justify-content-center">
            <div class="row p-4 gap-3 d-flex justify-content-center">
                <div class="DashBoardUl container col-md-2 p-0 m-0 bg-white d-flex pt-4 sideBar">
                    <ul class="d-flex flex-column">
                        <li class="dashOther fw-bold p-1 m-2 ps-4 ">
                            <img src="/assets/admin/d9.png" alt="" class="img-fluid me-2">
                            <span><a class="text-decoration-none" style="color: #cdcdcd;"
                                    href="/admin/Dashboard">DashBoard</a></span>
                        </li>
                        <li class="dashOther fw-bold p-1 ps-4 m-2">
                            <img src="/assets/admin/d3.png" alt="" class="img-fluid me-2">
                            <span><a href="/admin/catagory" class="text-decoration-none"
                                    style="color: #cdcdcd;">Category</a></span>
                        </li>
                        <li class="dashOther fw-bold p-1 ps-4 m-2">
                            <img src="/assets/admin/d2.png" alt="" class="img-fluid me-2">
                            <span></span>
                            <a href="/admin/productView" class="text-decoration-none"
                                style="color: #cdcdcd;">Product</a></span>
                        </li>
                        <li class="dashOther fw-bold p-1 ps-4 m-2">
                            <img src="/assets/admin/d4.png" alt="" class="img-fluid me-2">
                            <span></span>
                            <a href="/admin/coustomers" class="text-decoration-none"
                                style="color:  #cdcdcd;">Coustomer</a></span>
                        </li>
                        <li class="sideBarlist   p-1 ps-4 m-2">
                            <img src="/assets/admin/d5.png" alt="" class="img-fluid me-2">
                            <span></span>
                            <a href="/admin/order" class="text-decoration-none"
                                style="color: white;">Order</a></span>
                        </li>
                        <li class="dashOther fw-bold p-1 ps-4 m-2">
                            <img src="/assets/admin/d6.png" alt="" class="img-fluid me-2">
                            <span></span>
                            <a href="/admin/coupons" class="text-decoration-none"
                                style="color: #cdcdcd;">Coupons</a></span>
                        </li>
                        <li class="dashOther fw-bold p-1 ps-4 m-2">
                            <img src="/assets/admin/d2.png" alt="" class="img-fluid me-2">
                            <span></span>
                            <a href="#" class="text-decoration-none" style="color: #cdcdcd;">Banner</a></span>
                        </li>
                        <li class="dashOther fw-bold p-1 ps-4 m-2">
                            <img src="/assets/admin/d6.png" alt="" class="img-fluid me-2">
                            <span></span>
                            <a href="admin/logOut" class="text-decoration-none" style="color: #cdcdcd;">Logout</a></span>
                        </li>
                    </ul>
                </div>
                <div class=" container col-md-9  p-0 m-0">
                    <div class="container p-0">
                        <div class="conatiner saleTop bg-white d-flex align-items-center mb-3">
                            <div class="container summary d-flex align-items-center justify-content-between p-4 "
                                id="product">
                                <h6 class="p-3 ps-4">All Orders</h6>
                                <input type="text" placeholder="User Name, Email, Phone" class="text-center">
                            </div>
                        </div>
                        <div class="container-fluid Pa_table bg-white p-4">
                            <div class="container-fluid bg-white P_table px-2 ">
                                <div class="container-fluid p-0 d-flex align-items-center justify-content-center">
                                    <table class="w-100 tableSize">
                                        <thead class="cartTop" id="tableHeader"
                                            style="position:sticky; top: 0; z-index: 1;">
                                            <tr class="cart_table">
                                                <th class="first p-3 px-4" scope="col">Id</th>
                                                <th class="p-3" scope="col">Product</th>
                                                <th class="p-3" scope="col">User</th>
                                                <th class="p-3" scope="col">Payment</th>
                                                <th class="p-3" scope="col">Phone</th>
                                                <th class="p-3" scope="col">Cancel Status</th>
                                                <!-- <th class="p-3" scope="col">ProductStatus</th> -->
                                                <th class="third p-3 px-4" scope="col">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody id="order-tbody"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center gap-2" id="pagination-container">
                                <button class="btn btn-dark">1</button>
                                <button class="btn btn-dark">2</button>
                                <button class="btn btn-dark">3</button>
                                <button class="btn btn-dark">4</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>

<%- include('../component/admin/orders_tr.ejs') %>
<script type="module" src="/js/admin/orders.mjs"></script>
<%- include('../include/_footer.ejs') %>
