<%- include('./include/_header.ejs') -%>
   <div class="container-fluid p-0 justify-content-center align-items-center signUp min-vh-100" style="margin-top: 8%;">
      <%- include("./include/_adminNav.ejs")%>
         <div class="container d-flex justify-content-center align-items-center p-5">
            <div class="row p-3 adminCard">
               <div class="left col-md-12 p-3 d-flex flex-column justify-content-center">
                  <div class="heading">
                     <h2>Log in to Exclusive</h2>
                     <span>Enter your details</span>
                  </div>
                  <form id="form" action="/admin/login" method="post">
                     <div class="credntials mt-4 d-flex flex-column gap-3 loginButton">
                        <!-- email -->
                        <div class="input-control">
                            <input class="loginInput p-1 " type="text" placeholder="Email" required
                               name="admin_email" id="email">
                            <span class="text text-danger fw-bold mb-2 err"></span>
                        </div>
                        <!-- password -->
                        <div class="input-control">
                            <input class="loginInput p-1" type="password" placeholder="Password" required name="password"
                            id="password">
                            <span id="passwordError" class="text err text-danger fw-bold mb-2"></span>
                        </div>
                        <div class="d-flex mt-3 gap-5 align-items-center justify-content-between">
                           <button class="btn btn-outline-light col-lg-6" type="submit" >Login</button>
                           <span class="text-danger col-lg-6">Forgot Password?</span>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
   </div>
   <script type="module" src="/js/admin/login.mjs"></script>
<%- include('./include/_footer') -%>