<%- include('./include/_header') -%>


<div class="categories-container"></div>

<button id="logout">logout</button>
<script type="module" src="/js/admin/category.mjs"></script>

<%- include('./include/_footer') -%>