<%- include('./include/_header.ejs')%>
    <div class="container-fluid p-0 min-vh-100 " style="margin-top: 7%;">
        <%- include('./include/_adminNav.ejs')%>
            <div class="container f-flex align-items-center justify-content-center">
                <div class="row p-4 gap-3 d-flex justify-content-center">
                    <div class="DashBoardUl container col-md-2 p-0 m-0 bg-white d-flex pt-4 sideBar">
                        <ul class="d-flex flex-column">
                            <li class="dashOther fw-bold p-1 m-2 ps-4 ">
                                <!-- <img src="/assets/admin/d1.png" alt="" class="img-fluid me-2"> -->
                                <span><a class="text-decoration-none" style="color: #cdcdcd ;"
                                        href="/admin/panel/dashboard">DashBoard</a></span>
                            </li>
                            <li class="sideBarlist p-1 ps-4 m-2">
                                <!-- <img src="/assets/admin/d3.png" alt="" class="img-fluid me-2"> -->
                                <span><a href="/admin/panel/category" class="text-decoration-none"
                                        style="color: white;">Category</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <!-- <img src="/assets/admin/d2.png" alt="" class="img-fluid me-2"> -->
                                <span></span>
                                <a href="/admin/panel/products" class="text-decoration-none"
                                    style="color: #cdcdcd;">Product</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <!-- <img src="/assets/admin/d4.png" alt="" class="img-fluid me-2"> -->
                                <span></span>
                                <a href="/admin/panel/user_management" class="text-decoration-none"
                                    style="color: #cdcdcd;">Coustomer</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <!-- <img src="/assets/admin/d5.png" alt="" class="img-fluid me-2"> -->
                                <span></span>
                                <a href="/admin/panel/orders" class="text-decoration-none" style="color: #cdcdcd;">Order</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <!-- <img src="/assets/admin/d6.png" alt="" class="img-fluid me-2"> -->
                                <span></span>
                                <a href="/admin/panel/coupons" class="text-decoration-none" style="color: #cdcdcd;">Coupons</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <!-- <img src="/assets/admin/d2.png" alt="" class="img-fluid me-2"> -->
                                <span></span>
                                <a href="/admin/panel/banner" class="text-decoration-none" style="color: #cdcdcd;">Banner</a></span>
                            </li>
                            <li id="logout" class="dashOther fw-bold p-1 ps-4 m-2">
                                <!-- <img src="/assets/admin/d6.png" alt="" class="img-fluid me-2"> -->
                                <span></span>
                                <a href="" class="text-decoration-none" style="color: #cdcdcd;">Logout</a></span>
                            </li>
                        </ul>
                    </div>
                    <div class=" container col-md-9  p-0 m-0">
                        <div class="container p-0">
                            <div class="container p-0 m-0">
                                <div class="container p-0 bg-white p_addingWrapper">
                                    <form id="form" method="post">
                                        <div class="container p-3 ps-5">
                                            <div class="row">
                                                <div class="col-md-6 d-flex flex-column">
                                                    <div class="inputWrapper d-flex flex-column col-md-6 input-control">
                                                        <span class="mb-2 fw-bold"
                                                        style="color: #8e8e8e; font-size: 13px;">Category Name*</span>
                                                        <input type="text" name="category_name" id="category_name">
                                                        <p class="err"></p>
                                                    </div>
    
                                                    <div class="inputWrapper d-flex flex-column col-md-6 input-control">
                                                        <span class="mb-2 fw-bold"
                                                        style="color: #8e8e8e; font-size: 13px;">Subcategory Name*</span>
                                                        <input type="text" name="sub_category_name" id="sub_category_name">
                                                        <button type="button" class="btn addbutton">add</button>
                                                        <p class="err"></p>
                                                    </div>

                                                    <div class="inputWrapper d-flex flex-column col-md-6 input-control">
                                                        <span class="mb-2 fw-bold"
                                                        style="color: #8e8e8e; font-size: 13px;">Category offer*</span>
                                                        <input type="number" name="offer" id="category_offer">
                                                        <p class="err"></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class=" d-flex flex-column inputeWrapper" id="inputDis">
                                                        <span class="mb-2 fw-bold" style="color: #8e8e8e; font-size: 13px;">Preview*</span>
                                                        <div class="w-50 conatiner">
                                                            <div id="preview-title">
                                                                <h5>clothing</h5>
                                                            </div>
                                                            <div id="preview-body">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                            </div>
                                            <div class="container my-4 pb-2 top">
                                                <button id="submit-btn" class="btn btn-danger addbutton mb-3" type="submit">
                                                    Add New Product
                                                </button>
                                                <a class="d-block btn btn-outline-dark" href="/admin/panel/category">Back to category</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script type="module" src="/js/admin/addCategory.mjs"></script>
    <%- include('./include/_adminFooter.ejs')%>

