<%- include('./include/_header') -%>


<div class="container-fluid p-0 justify-content-center align-items-center signUp min-vh-100" style="margin-top: 6%;">
    <%- include('./include/navbar') -%>
         <div class="container d-flex justify-content-center align-items-center">
            <div class="row rounded-5 p-3 CardSignup">
               <!-- <div class="right col-md-6 p-2 signUpimage">
                  <img src="/assets/nav/signUp.png" alt="" class="img-fluid rounded-2">
               </div> -->
               <div class="left p-3 d-flex flex-column justify-content-center">
                  <div class="heading">
                     <h2>Create an account</h2>
                     <span>Enter your details</span> <br>
                     <div class="text text-success fw-bold mt-3" style="font-size: 15px;">
                        <%=locals.succ? succ:""%>
                     </div>
                  </div>
                  <form id="form"  class="w-100" method="post">
                     <div class="signUpForm d-flex gap-3 mt-4 flex-column loginButton">
                        <!-- NAME -->
                        <div class="iput-control">
                            <input class="signInput" type="text" placeholder="Name" name="username" id="username" required>
                            <span id="Name" class="text text-danger err"></span>
                        </div>
                        <!-- PHONE -->
                        <!-- <input class="signInput" type="text" placeholder="Phone" name="number" id="number"
                           onchange="numberChecking()" required>
                        <span id="Number" class="text text-danger"></span> -->
                        <!-- EMAIL -->

                        <div class="row">
                            <div class="input-control col-md-8 my-2">
                                <input class="signInput" type="text" placeholder="email" name="email" id="email" required>
                                   <span id="Email" class="text text-danger err"></span>
                            </div>
                            <div class="col-md-2">
                                <button class="btn col-md-4" disabled type="button" id="send-otp">send OTP</button>
                            </div>
                        </div>
                        <div class="input-control">
                            <input class="signInput" type="number" name="otp" id="otp" placeholder="OTP">
                            <p class="err"></p>
                            <button class="btn btn-sm w-50" disabled type="button" id="verify-otp">Verify</button>
                        </div>
                        <!-- PASSWORD -->
                        <div class="input-control my-2">
                            <input class="signInput" type="password" placeholder="Password" name="password" id="password" required>
                            <span id="Password" class="text text-danger err"></span>
                        </div>
                        <div class="d-flex">
                           <!-- <span class="password-toggle" onclick="togglePasswordVisibility('password')">
                              <i class="far fa-eye"></i>
                           </span> -->
                        </div>
                        <!-- CONFIRM PASSWORD -->
                        <div class="input-control my-2">
                            <input class="signInput" type="password" placeholder="Confirm Password" name="confirmPassword"
                               id="confirm_password" required>
                            <span id="ConfirmPassword" class="text text-danger err"></span>
                        </div>
                        <!-- BUTTON -->
                        <div class="d-flex flex-column mt-2 gap-2 align-items-center ">
                           <button class="btn text-white " type="submit">Create
                              Account</button>
                           <button type="button" class="btn bg-white border text-dark col-lg-6"><a class="text-decoration-none text-dark" href="/api/login">Already have account? Login now.</a></button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
        </div>
   </div>
   <%- include('./include/_footer') -%>

<script type="module" src="/js/user/register.mjs"></script> 
