<dialog id="confirm-dialog">
    <h6 class="confirm-dialog-head"></h6>
    <p class="confirm-dialog-body"></p>
    <button class="confirm-btn">confirm</button>
    <button class="cancel-btn">cancel</button>
</dialog>