<template id="order-tr">
    <tr class="mt-5">
        <th scope="col" class="px-4">
            <span class="order-no"></span>
    </th>
    <td scope="col " class="t_Image px-3" style="cursor: pointer;">
        <h6>
            <a href="/admin/panel/orders/" class="image-button" style="border: 0; border-radius: 5px;">
                <img src="/public/img/" alt="" class="order-img img-fluid" width="60" style="border-radius: 5px;">
            </a>
        </h6>
    </td>
    <td scope="col" class="tablefont px-3 product-name">
        <span class="order-username"></span>
    </td>
    <td scope="col" class="px-3">
            <span class="order_payment_method badge rounded-pill"></span>
    </td>
    <td scope="col" class="px-3">
        <span class="order-phone"></span>
    </td>
    <td scope="col" class="px-3">
        <span class="order-isCanceled badge rounded-pill"></span>
    </td>
    <td scope="col" class="TableButton align-items-start py-5 d-flex flex-column gap-2">
        
        <span class="order-status badge rounded-pill"></span>
        </td>
    </tr>
</template>