<%- include('../include/_header.ejs') %>
    <div class="container-fluid p-0 min-vh-100" style="margin-top: 6%;">
        <%-include('../include/navBar.ejs') %>
            <div class="container ">
                <div class="row p-4">
                    <div class="p-2 px-4 py-4">
                        <h4 class="fw-bold">Shopping Cart</h4>
                    </div>
                    <div id="cart-container" class="container p-4">
                        <!-- <div class="cart-item p-4 d-flex justify-content-between gap-3 align-items-center">
                            <div class="cart-item-img">
                                <img width="100px" src="/public/img/download (1).jpeg" alt="">
                            </div>
                            <div class="cart-itmem-name">Men Regular Fit Solid Spread Collar Casual Shirt</div>
                            <div>Rs 899.00</div>
                            <div class="cart-item-color">color</div>
                            <div>M</div>
                            <div>
                                <button type="button" class="btn btn-light">-</button>
                                <input type="number" name="quantity" id="quantity">
                                <button type="button" class="btn btn-light">+</button>
                            </div>
                            <button type="button" class="del-btn btn btn-danger">x</button>
                        </div> -->
                    </div>
                </div> 
            </div>       
    </div>        


<script type="module" src="/js/user/cart.mjs"></script>
<%- include('../include/_footer.ejs') %>
