<%- include('../include/_header.ejs') %>
    <div class="container-fluid p-0 min-vh-100" style="margin-top: 6%;">
        <%-include('../include/navbar.ejs') %>
            <div class="container ">
                <div class="row p-4">
                    <div class="p-2 px-4 py-4">
                        <h4 class="fw-bold">Shopping Cart</h4>
                    </div>
                    <div id="cart-container" class="container p-4"></div>
                    <button id="checkout-btn" class="btn mt-5 btn-outline-danger">Checkout</button> 
                    <div id="msg-container"></div>   
                </div> 
            </div> 
    </div>        


<script type="module" src="/js/user/cart.mjs"></script>

<%- include('../include/confirmDialog.ejs') %>
<%- include('../include/_footer.ejs') %>
