<template id="history_temp">

    <tr class="cardList">
        <td class="order-no py-3 p-4" style="font-size: 13px; color:#959595">
        
        </td>
        
        <td  class="py-3 d-flex align-items-center">
            <a href="/api/profile/order/"
            class="order_pic_anchor order-cancel-link container d-flex align-items-center text-decoration-none text-dark">
            <div class="p-0" style="position: relative;">
                    <h3 class="d-none text-light bg-danger p-1 canceled-tag"
                    style="position: absolute; font-size: 7.4px;  border-radius: 4px;">
                        Order Canceled
                    </h3>
                    <img src="/public/img/"
                    alt="" class="order_pic_img img-fluid" width="60px"
                        style="border-radius: 5px;">
                    </div>
            </a>
            <td class="py-3 p-4" style="font-size: 13px; color:#959595">
                <h6 for="" ><span class="order_status badge rounded-pill"></span></h6>
            </td>
    </td>
    
    
    <td class="py-3 p-4"style="font-size: 13px; color:#959595">
        <h6 for="" class="">
            <span class="order-quantity">
                
            </span>
        </h6>
        </td>
        <td class="py-3 p-4"style="font-size: 13px; color:#959595">
            <h6 for="" class="">₹
                <span class="order_amount">
                    
                </span>
            </h6>
        </td>
        <td  class="py-3 p-4"style="font-size: 13px; color:#959595">
            <a class="return-anchor btn " style="font-size: 13px;">Return</a>
        </td>
    </tr>
</template>